@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: ["Oxygen, sans-serif"];
    background-color: #171321;
    color: #f7f8fa;
    font-size: 1.1rem;
  }
  a {
    color: #e310cb;
  }
  a:hover {
    color: #ff17e4;
    text-decoration: none;
  }
  h1,
  h2,
  h3 {
    margin: 0;
  }